<h1>
    Raspberry Pi remote home monitoring project
</h1>

<h2>
    Remote temperature monitoring
</h2>

<a href="/home/monitor">Monitor page</a>

@if ((bool) ViewBag.IsBDSetUp)
{
    <a href="/home/setup">DB Setup page</a>
}